.admin-main{
    margin-top: 4rem;
    background-color: white;
    padding: 10px 15px;
}

.admin-main div button{
    padding: 10px 5px;
    background-color: rgb(26, 150, 26);
    color: white;
    cursor: pointer;
    border: 1px solid gray;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    border-radius: 5px;
}

.admin-main div button:hover{
    background-color: green;
}

.admin-main-btns{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.admin-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.admin-section-form{
    background-color: white;
    padding: 20px 10px;
    min-width: 40%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(171, 171, 171);
    display: none;

}

.admin-section-form h1{
    margin-bottom: 2rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.admin-section-form div input{
    width: 100%;
    height: 2rem;
    border-radius: 3px;
    border: 1px solid gray;
    cursor: pointer;
    outline:none;
    padding-left: 10px;
    margin-bottom: 10px;
}

.capitalize{
    text-transform: capitalize;
}

.admin-section-form div input:focus{
    outline: 1px solid rgb(0, 102, 255);
}

.admin-section-form div button{
    width: 95%;
    margin-left: 2.5%;
    font-size: 20px;
    color: white;
    background-color: rgb(20, 90, 195);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}