.header-main{
    background-color: white;
    width: 100%;
    padding: 10px 5px 10px 5px;
    position: fixed;
    top: 0;
    box-shadow: 1px 2px 10px rgb(177 177 177);
}

.header-main div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.header-main div div button{
    padding: 10px;
    height: max-content;
    border-radius: 5px;
    border: 1px solid white;
    background-color: red;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bolder;
}

.header-main div img{
    width: 10rem;
    margin-left: 2rem;
}

@media (max-width: 600px) {
    .header-main div img{
        width: 6rem;
        margin-left: 1rem;
    }


}