.login-main{
    width:  100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.login-container{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 15px rgb(151, 151, 151);
    min-width: 20rem;
}

.login-container h1 span{
    color: rgb(8, 108, 215);
}

.login-container h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
}

.login-container form label{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200px;
}

.login-container form input{
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 2.5rem;
    outline: none;
    border-radius: 5px;
    border: 2px solid gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.login-container form select{
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 2.5rem;
    outline: none;
    border-radius: 5px;
    border: 2px solid gray;   
    -webkit-tap-highlight-color: transparent;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.login-container form input:focus{
    border: none;
    outline: 2px solid rgb(8, 108, 215);
}

.login-container form select:focus{
    border: none;
    outline: 2px solid rgb(8, 108, 215);
}

.login-container form button{
    margin-top: 1rem;
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    background-color: rgb(8, 108, 215);
    
}

.login-blue{
    color: rgb(8, 108, 215);
    cursor: pointer;
}

.login-password-box{
    position: relative;
}

.password-box-visible{
    position: absolute;
    right: 5px;
    top: 3px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}