.open-test-main{
    background-color: white;
    margin-top: 5rem;
    padding: 20px 10px;
}

.question-componenet{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.question-comp-option-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.question-box{
    display: flex;
    gap: 5px;
    align-items: center;
}

.question-box span{
    font-size: 25px;
    font-weight: bolder;
}

.question{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.question-comp-option-box button{
    border: 1px solid gray;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    border-radius: 5px;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
}

.question-comp-option-box button:hover{
    border: 2px solid rgb(5, 108, 233);
}

.bottom-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgb(198, 198, 198);
    padding: 10px;
    background-color: white;
    height: 4rem;
    box-shadow: 0px -4px 5px rgb(184 184 184);;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    z-index: 10;
}

.bottom-nav button{
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    min-width: 5rem;
    color: white;
}

.bottom-nav .first{
    background-color: rgb(13, 100, 241);
}

.bottom-nav .second{
    background-color: red;
}

.question-comp-option-box .white{
    background-color: "";
}

.question-comp-option-box .green{
    background-color: #00bc00;
}

.finished-message{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #08080873;
    z-index: 10;
    display: none;
}

.finished-message div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.finished-message div button{
    padding: 10px;
    cursor: pointer;
    background-color: rgb(13, 100, 241);
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 5px;
    width: 20rem;

}