.t-main{
    margin-top: 5.5rem;
    background-color: white;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.t-main button{
    padding: 10px;
    margin-right: 10px;
    color: white;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
    background-color: green;
    min-width: 8rem;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.t-main button a{
    color: white;
    text-decoration: none;
}

.t-student-detail{
    background-color: white;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    padding-bottom: 40px;
}

.t-student-detail th,td,table{
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 2px;    
}

.t-student-detail table{
    padding: 0;
}

.t-student-detail table{
    width: 100%;

}

.t-student-detail table caption{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}

.t-student-detail table tbody tr td{
    padding-left: 5px;
    text-transform: capitalize;
}

.td-finished-button{
    text-align: center;
}

.td-finished-button button{
    width: 99%;
    cursor: pointer;
    color: white;
    background-color: red;
    border: 1px solid gray;
    font-size: 18px;
    font-weight: bolder;
    padding: 2px 10px;
    margin: 2px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
}

@media (max-width:800px) {
    .t-main button{
        flex: 1;
    }

    .t-student-detail table{
        font-size: 12px;
    }
}