.teacher-main{
    background-color: white;
    margin-top: 5.5rem;
    padding: 10px;
    padding-bottom: 20px;
}

.compnent-div{
    margin-top: 1rem;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.test-topic-div{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.test-topic-div label{
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

.set-question-topic{
    border: 2px solid gray;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
    text-transform: capitalize;
}

.set-question-topic:focus{
    border: 2px solid rgb(10, 120, 223);
}
.teacher-main div textarea{
    width: 100%;
    height: 3rem;
    padding: 2px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.teacher-option-box{
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 1rem;
}


.teacher-option-box div input{
    width: 100%;
    height: 2.5rem;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.teacher-correct-answer input{
    width: 20rem;
    height: 2rem;
    border: none;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.teacher-add-new-btn{
    background-color: rgb(10, 120, 223);
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 2rem;
    min-width: 6rem;
    -webkit-tap-highlight-color: transparent;
}

.teacher-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.set-question-submit-button-box{
    background-color: white;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(171, 171, 171);
    border-radius: 5px;
}

.submit-btn-main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 32%);
    height: 100%;
    width: 100%;
}
.submit-body{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.set-question-submit-button-box button{
    width: 100%;
    background-color: rgb(10, 120, 223);
    cursor: pointer;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 0;
    margin-top: 10px;
    font-size: 18px;
}

@media (max-width:600px) {
    .teacher-main div textarea{
        height: 8rem;
        font-size: 15px;
    }
}