*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #F3F6FB;
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
}